.tit,
h1 {
  font-family: 'Do Hyeon', sans-serif;
}
header {
  padding: 30px;
  height: 80px;
}
header h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  color: #656e99;
}
header .fr {
  margin: 30px;
}
header .fr > a {
  font-size: 20px;
  line-height: 40px;
  margin: 0 30px;
  color: #fff;
  float: left;
}
header .fr .menu {
  width: 40px;
  height: 40px;
  position: relative;
  float: left;
  cursor: pointer;
  margin-left: 30px;
}
header .fr .menu img {
  width: 100%;
  display: block;
}
header .fr .downlist {
  background-color: #fff;
  position: absolute;
  left: -120px;
  top: 50px;
  display: none;
  border-radius: 10px;
  padding: 0 30px;
}
header .fr .downlist a:not(:last-child) {
  border-bottom: 1px solid #656e99;
}
header .fr .downlist a {
  padding: 10px;
  color: #656e99;
  display: block;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}
header .fr .downlist a:hover {
  background-color: #656e99;
  color: #fff;
}
#about {
  background: transparent url('../images/cc.png') no-repeat top scroll;
  background-size: 100% auto;
  min-height: 75.27vw;
  overflow: hidden;
}
#about .conpngbox {
  width: 1124px;
  margin: 120px auto;
  transition: all 0.6s;
}
#about .conpngbox .btn.hide {
  width: 0;
  height: 0;
}
#about .conpngbox .btn {
  width: 240px;
  height: 240px;
  margin: 20px;
  float: left;
  transition: all 0.6s;
}
#about .conpngbox .btn .box {
  width: 240px;
  height: 240px;
  position: relative;
  transition: all 0.6s;
  overflow: hidden;
}
#about .conpngbox .btn .box p {
  transition: all 0.6s;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  height: 240px;
  font-size: 18px;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  padding: 60px 10px;
  box-sizing: border-box;
  color: #333;
  font-size: 30px;
  opacity: 0;
}
#about .conpngbox .btn .box:hover {
  cursor: pointer;
}
#about .conpngbox .btn .box:hover p {
  opacity: 1;
}
#about .conpngbox .btn img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  border: 10px solid #656e99;
}
#about .conpngbox.show {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  margin-left: 300px;
  overflow: hidden;
}
#about .conpngbox.show .btn {
  padding: 0;
  margin: 0;
}
#about .lefttxt {
  padding: 20px;
  box-sizing: border-box;
  display: none;
  width: 600px;
  max-height: 600px;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  margin-left: -300px;
}
#about .lefttxt .tit {
  font-size: 32px;
  line-height: 40px;
  padding: 30px 0;
  text-align: center;
  color: #656e99;
}
#about .lefttxt .desc {
  color: #656e99;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
#about .lefttxt .desc a {
  color: #333;
  text-align: left;
  font-size: 14px;
  text-decoration: underline;
}
#about .lefttxt .desc img {
  max-width: 400px;
  margin: 10px auto;
  border: 10px solid #fff;
  box-shadow: 0px 0px 4px #ccc;
  border-radius: 10px;
  display: inline-block;
}
.text {
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #828aaf;
}
h2 {
  font-size: 24pt;
  font-weight: 600;
}
.mainbox {
  max-width: 1200px;
  margin: 120px auto;
  width: 100%;
  height: 480px;
}
